<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Meu Curriculo</title>
</head>

<body>
  <header>
    <h1>Meu Currículo</h1>
  </header>
  <main>
    <p>Nome: </p>
    <p>Empresa: </p>
    <p>Github: </p>
    <p>Bio: </p>
    <p>Repositórios: </p>

  </main>
  <footer>
    <a href="/">Home</a>
  </footer>
</body>

</html>