<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Meu Currículo</title>
</head>

<body>
  <main>
    <h1>Desafio Accenture</h1>
    <p>Bem vindo(a) ao <strong>Meu Currículo</strong></p>
    <p><a href="/curriculo">Meu currículo</a></p>
    <p><a href="/github">Dados do Github</a></p>
  </main>
  <footer>
    <p>Versão 1.0.0</p>
  </footer>
</body>

</html>